.sort {
    color: black;
    background-color: #FFFFFF;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    border-color: #CCC;
    outline: none;
    width: 100%;
}

.sort:focus {
    color: #333;
    background-color: rgb(43, 189, 87)
}

*{
    padding: 0;
    margin: 8;
    box-sizing: border-box;
    font-family: "Arial";
}

body{
    
    background-color: pink;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
}


div.box{
    min-width: 500px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
}

div.box h1{
    font-size: 22pt;
    color: rgb(137, 55, 55);
    margin: 15px 0;
}

div.box button{
    font-size: 16pt;
    color: white;
    background-color: pink;
    border-radius: 5px;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
}

